body {
  background-color: black;
}

section {
  display: flex;

  width: 100vw;

  justify-content: center;
  align-items: center;
}

#bigcircle {
  display: flex;

	width: 50vw;
	height: 50vw;
  margin-top: 50px;

	-webkit-border-radius: 50vw;
	-moz-border-radius: 50vw;
	border-radius: 50vw;
	background: white;
}

#circles {
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	background: black;
}
